[Service]
ExecStart=/usr/local/libexec/shutdownfifo-listener
StandardInput=socket
StandardOutput=journal

[Unit]
Before=docker.service

[Install]
Also=shutdownfifo.socket